#app {
    width: 100%;
    height: 800px;
    background-color: cyan;

}

.container {
    text-align: center;
}

#myCarousel {
    background-color: magenta;
}

#myCarousel img {
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
    color: blanchedalmond;

}

#myCarouse2 {
    background-color: antiquewhite;
}

#myCarouse2 img {
    height: 300px;
    margin-top: 35px;
}
